<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <link rel="stylesheet" href="public/prototype1.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>One</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <form id="primary" method="POST" action="/">
      <div id='main'>
    <div>
      <textarea type="textarea" name="texta"value=""></textarea>
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Text Type
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-item"><input  type='radio' name='text0' value='title'><label for='title'><b>Title</b></a></label></div>
            <div class="dropdown-item"><input  type='radio' name='text0' value='header'><label for='header'><u><b>Header</b></u></a></label></div>
            <div class="dropdown-item"><input  type='radio' name='text0' value='secondary' checked><label for='secondary'><span>&#8226;</span><b>Bullet</b></a></label></div>
            <div class="dropdown-item"><input  type='radio' name='text0' value='paragraph'><label for='paragraph'>Paragraph</a></label></div>
          </div>
        </div>
    </div>
  </div>
    <input type="Submit" name="" value="Submit">
    <input style="" name='number' value="0">
    </form>
    <script src='public/prototype1.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </body>
</html>
